<template>
  <div class="hero is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Organic extra virgin olive oil
        </h1>
        <h2 class="subtitle">
          The place where your bitcoins are liquid gold
        </h2>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.hero {
  background: #bfb700;
}
h1,
h2 {
  color: #fff;
}
</style>
