<template>
  <div>
    <div class="card-image">
      <!-- todo: fix style -->
      <figure class="image is-4by3" style="padding-top: 115%;">
        <img src="~/static/arbequina.png" alt="Placeholder image" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{ product.title }}</p>
        </div>
        <!-- <div>
          <button
            v-show="product.isFavourite"
            class="button is-small"
            :title="removeFromFavouriteLabel"
            @click="removeFromFavourite(product.id)"
          >
            <span class="icon is-small">
              <i class="fa fa-heart"></i>
            </span>
          </button>
          <button
            v-show="!product.isFavourite"
            class="button is-small"
            :title="addToFavouriteLabel"
            @click="saveToFavorite(product.id)"
          >
            <span class="icon is-small">
              <i class="fa fa-heart-o"></i>
            </span>
          </button>
        </div> -->
      </div>
      <div class="content is-clearfix">
        <p>{{ product.description }}</p>
        <!-- <div class="is-pulled-left">
          <i v-if="product.ratings === 1" class="fa fa-star"></i>
          <i v-if="product.ratings === 2" class="fa fa-star"></i>
          <i v-if="product.ratings === 2" class="fa fa-star"></i>
          <i v-if="product.ratings === 3" class="fa fa-star"></i>
          <i v-if="product.ratings === 3" class="fa fa-star"></i>
          <i v-if="product.ratings === 3" class="fa fa-star"></i>
          <i v-if="product.ratings === 4" class="fa fa-star"></i>
          <i v-if="product.ratings === 4" class="fa fa-star"></i>
          <i v-if="product.ratings === 4" class="fa fa-star"></i>
          <i v-if="product.ratings === 4" class="fa fa-star"></i>
          <i v-if="product.ratings === 5" class="fa fa-star"></i>
          <i v-if="product.ratings === 5" class="fa fa-star"></i>
          <i v-if="product.ratings === 5" class="fa fa-star"></i>
          <i v-if="product.ratings === 5" class="fa fa-star"></i>
          <i v-if="product.ratings === 5" class="fa fa-star"></i>
          <p>
            {{
              product.reviews > 0 ? `${product.reviews} Reviews` : 'No reviews'
            }}
          </p>
        </div> -->
        <p class="is-pulled-right">
          <span class="title is-4"
            ><strong>&euro; {{ product.price }}</strong></span
          >
        </p>
      </div>
      <div class="card-footer btn-actions">
        <div class="card-footer-item field is-grouped">
          <div class="buttons">
            <button
              v-if="!product.isAddedToCart"
              class="button is-primary"
              @click="addToCart(product.id)"
            >
              {{ addToCartLabel }}
            </button>
            <button
              v-if="product.isAddedToCart"
              class="button is-text"
              @click="removeFromCart(product.id, false)"
            >
              {{ removeFromCartLabel }}
            </button>
          </div>
          <div v-if="!product.isAddedBtn" class="select is-rounded is-small">
            <select v-model="selected" @change="onSelectQuantity(product.id)">
              <option
                v-for="(quantity, index) in quantityArray"
                :key="index"
                :value="quantity"
                >{{ quantity }}</option
              >
            </select>
          </div>
        </div>
      </div>
    </div>
    <nuxt-link
      class="details"
      :to="{
        name: 'product_detail-id',
        params: {
          id: product.id,
          title: product.title,
          price: product.price,
          rating: product.ratings,
          reviews: product.reviews,
          isAddedBtn: product.isAddedBtn,
        },
      }"
    >
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'Products',
  props: {
    // eslint-disable-next-line vue/require-default-prop
    product: Object,
  },
  data() {
    return {
      addToCartLabel: 'Add to cart',
      viewDetailsLabel: 'Details',
      removeFromCartLabel: 'Remove from cart',
      addToFavouriteLabel: 'Add to favourite',
      removeFromFavouriteLabel: 'Remove from favourite',
      selected: 1,
      quantityArray: [],
    };
  },
  computed: {
    isUserLogged() {
      return this.$store.getters.isUserLoggedIn;
    },
  },
  mounted() {
    for (let i = 1; i <= 20; i++) {
      this.quantityArray.push(i);
    }

    if (this.$props.product.quantity > 1) {
      this.selected = this.$props.product.quantity;
    }
  },
  methods: {
    addToCart(id) {
      const data = {
        id,
        status: true,
      };
      this.$store.commit('addToCart', id);
      this.$store.commit('setAddedBtn', data);
    },
    removeFromCart(id) {
      const data = {
        id,
        status: false,
      };
      this.$store.commit('removeFromCart', id);
      this.$store.commit('setAddedBtn', data);
    },
    saveToFavorite(id) {
      const isUserLogged = this.$store.state.userInfo.isLoggedIn;

      if (isUserLogged) {
        this.$store.commit('addToFavourite', id);
      } else {
        this.$store.commit('showLoginModal', true);
      }
    },
    removeFromFavourite(id) {
      this.$store.commit('removeFromFavourite', id);
    },
    onSelectQuantity(id) {
      const data = {
        id,
        quantity: this.selected,
      };
      this.$store.commit('quantity', data);
    },
  },
};
</script>

<style lang="scss" scoped>
.details {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  &:hover {
    border: 1px solid #51bafc;
  }
}
.button,
.select {
  z-index: 2;
}
.select {
  position: absolute;
  right: 15px;
  bottom: 35px;
}
.card-content {
  padding: 0;
}
.buttons {
  margin: 0;
}
</style>
