<template>
  <div class="columns is-centered is-multiline">
    <div
      v-for="product in products"
      :key="product.id"
      class="card column is-one-quarter"
    >
      <Products :product="product" />
    </div>
    <div v-if="products.length === 0" class="section">
      <p>{{ noProductLabel }}</p>
    </div>
  </div>
</template>

<script>
import Products from '../Products';
import { getByTitle } from '@/assets/filters';

export default {
  name: 'ProductsList',
  components: { Products },
  data() {
    return {
      id: '',
      noProductLabel: 'No product found',
      productsFiltered: [],
    };
  },
  computed: {
    products() {
      if (this.$store.state.userInfo.hasSearched) {
        return this.getProductByTitle();
      } else {
        return this.$store.state.products;
      }
    },
  },
  methods: {
    getProductByTitle() {
      const listOfProducts = this.$store.state.products;
      const titleSearched = this.$store.state.userInfo.productTitleSearched;

      return (this.productsFiltered = getByTitle(
        listOfProducts,
        titleSearched
      ));
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  margin: 10px;
}
</style>
