<template>
  <div class="footer">
    <div class="columns container">
      <div class="column">
        <p>The place where your bitcoins are liquid gold</p>
      </div>
      <div class="column has-text-right">
        <p>The Oil of Satoshi | Made with ❤</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style lang="scss" scoped>
.footer {
  background: #f3f2e3;
  color: black;
}
</style>
