<template>
  <div :class="[openModal ? 'is-active' : '', 'modal']">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ modalTitle }}</p>
        <button
          class="delete"
          aria-label="close"
          @click="closeModal(false)"
        ></button>
      </header>
      <section class="modal-card-body">
        <div v-if="!isCheckoutSection">
          <div v-for="product in products" :key="product.id" class="box">
            <button
              class="is-pulled-right button is-info is-inverted"
              @click="removeFromCart(product.id)"
            >
              {{ removeLabel }}
            </button>
            <p>
              {{ product.title }}
              {{
                product.quantity > 0 ? ` - Quantity: ${product.quantity}` : ''
              }}
            </p>
            <p>{{ product.price }} &euro;</p>
          </div>
          <div v-if="products.length === 0">
            <p>{{ cartEmptyLabel }}</p>
          </div>
        </div>
        <div v-if="isCheckoutSection">
          <p>You bought it :-)</p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button
          v-show="products.length > 0 && !isCheckoutSection"
          class="button is-success"
          @click="onNextBtn"
        >
          {{ buyLabel }}
        </button>
        <button
          v-if="isCheckoutSection"
          class="button is-success"
          @click="closeModal(true)"
        >
          {{ closeLabel }}
        </button>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Checkout',

  data() {
    return {
      modalTitle: 'Checkout',
      removeLabel: 'Remove from cart',
      cartEmptyLabel: 'Your cart is empty',
      closeLabel: 'Close',
      isCheckoutSection: false,
    };
  },

  computed: {
    products() {
      return this.$store.getters.productsAdded;
    },
    openModal() {
      if (this.$store.getters.isCheckoutModalOpen) {
        return true;
      } else {
        return false;
      }
    },
    buyLabel() {
      const totalProducts = this.products.length;
      const productsAdded = this.$store.getters.productsAdded;
      const pricesArray = [];
      let productLabel = '';
      let finalPrice = '';
      let quantity = 1;

      productsAdded.forEach(product => {
        if (product.quantity >= 1) {
          quantity = product.quantity;
        }

        pricesArray.push(product.price * quantity); // get the price of every product added and multiply quantity
      });

      finalPrice = pricesArray.reduce((a, b) => a + b, 0); // sum the prices

      if (totalProducts > 1) {
        // set plural or singular
        productLabel = 'products';
      } else {
        productLabel = 'product';
      }
      return `Buy ${totalProducts} ${productLabel} at ${finalPrice}€`;
    },
    isUserLoggedIn() {
      return this.$store.getters.isUserLoggedIn;
    },
  },

  methods: {
    closeModal(reloadPage) {
      this.$store.commit('showCheckoutModal', false);

      if (reloadPage) {
        window.location.reload();
      }
    },
    removeFromCart(id) {
      const data = {
        id,
        status: false,
      };
      this.$store.commit('removeFromCart', id);
      this.$store.commit('setAddedBtn', data);
    },
    onNextBtn() {
      console.log('onNextBtn');
      this.$store.commit('showCheckoutModal', false);
      this.$store.commit('showRegistrationModal', true);
    },
    onPrevBtn() {
      this.isCheckoutSection = false;
    },
  },
};
</script>
