<template>
  <div :class="[openModal ? 'is-active' : '', 'modal']">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ modalTitle }}</p>
        <button class="delete" aria-label="close" @click="closeModal"></button>
      </header>
      <form action="#" method="post" @submit="checkForm">
        <section class="modal-card-body">
          <div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input
                  v-model="name"
                  :class="[
                    highlightNameWithError ? 'input is-danger' : 'input',
                  ]"
                  type="text"
                  :placeholder="namePlaceholder"
                  @keyup="checkNameOnKeyUp(name)"
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
                <span
                  v-if="highlightNameWithError !== null"
                  class="icon is-small is-right"
                >
                  <i
                    :class="[
                      highlightNameWithError
                        ? 'fa fa-exclamation-circle'
                        : 'fa fa-check',
                    ]"
                  ></i>
                </span>
              </p>
              <p v-if="highlightNameWithError" class="help is-danger">
                {{ nameErrorLabel }}
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input
                  v-model="email"
                  :class="[
                    highlightEmailWithError ? 'input is-danger' : 'input',
                  ]"
                  type="email"
                  :placeholder="emailPlaceholder"
                  name="emailName"
                  @keyup="checkEmailOnKeyUp(email)"
                />
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
                <span
                  v-if="highlightEmailWithError !== null"
                  class="icon is-small is-right"
                >
                  <i
                    :class="[
                      highlightEmailWithError
                        ? 'fa fa-exclamation-circle'
                        : 'fa fa-check',
                    ]"
                  ></i>
                </span>
              </p>
              <p v-if="highlightEmailWithError" class="help is-danger">
                {{ emailErrorLabel }}
              </p>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success">
            {{ primaryBtnLabel }}
          </button>
        </footer>
      </form>
    </div>
  </div>
</template>

<script>
import { isValidEmail } from '@/assets/validators';

export default {
  name: 'Registration',

  data() {
    return {
      modalTitle: 'Details',
      // modalTitleRegistered: 'Welcome ',
      primaryBtnLabel: 'Pay',
      btnRegisteredLabel: 'Close',
      namePlaceholder: 'Name*',
      emailPlaceholder: 'Email*',
      nameErrorLabel: 'Name required',
      emailErrorLabel: 'Email required',
      name: '',
      email: '',
      highlightNameWithError: null,
      highlightEmailWithError: null,
      isFormSuccess: false,
    };
  },

  computed: {
    isUserSignedUp() {
      return this.$store.getters.isUserSignedUp;
    },
    openModal() {
      if (this.$store.getters.isRegistrationModalOpen) {
        return true;
      } else {
        return false;
      }
    },
  },

  methods: {
    closeModal() {
      this.$store.commit('showRegistrationModal', false);
    },
    checkForm(e) {
      e.preventDefault();

      if (this.name && this.email) {
        this.highlightEmailWithError = false;
        this.highlightPasswordWithError = false;
        this.isFormSuccess = true;
        this.$store.commit('setUserName', this.name);
      }

      if (!this.name) {
        this.highlightNameWithError = true;
      } else {
        this.highlightNameWithError = false;
      }

      if (!this.email) {
        this.highlightEmailWithError = true;

        if (this.email && !isValidEmail(this.email)) {
          this.emailErrorLabel = this.emailNotValidLabel;
        }
      } else {
        this.highlightEmailWithError = false;
      }
    },
    checkNameOnKeyUp(nameValue) {
      if (nameValue) {
        this.highlightNameWithError = false;
      } else {
        this.highlightNameWithError = true;
      }
    },
    checkEmailOnKeyUp(emailValue) {
      if (emailValue && isValidEmail(emailValue)) {
        this.highlightEmailWithError = false;
      } else {
        this.highlightEmailWithError = true;

        if (!isValidEmail(emailValue)) {
          this.emailErrorLabel = this.emailNotValidLabel;
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.fa-exclamation-circle {
  color: red;
}
.fa-check {
  color: green;
}
</style>
