<template>
  <div>
    <Hero />
    <ProductsList />
  </div>
</template>

<script>
import ProductsList from '@/components/products_list/ProductsListContainer';
import Hero from '@/components/hero/Hero';

export default {
  components: {
    ProductsList,
    Hero,
  },
};
</script>
